@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");

* {
  font-family: "Signika", "Roboto", sans-serif;
}
#page1 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
}
#page2 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: azure;
}
#page1,
#page2 {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
h4 {
  margin-right: 20px;
}
main {
  display: grid;
  grid-template-columns: repeat(15, 28px);
  grid-template-rows: repeat(15, 28px);
  height: 450px;
  background-color: rgb(0, 0, 0);
  gap: 2px;
  border: 2px black solid;
}

.even,
.odd {
  background-color: #212121;
  border-radius: 5px;
}

.snakeHead {
  background-color: #dc143c;
  box-shadow: 0 0 10px rgba(240, 135, 135, 0.7);
}
.snakeBody {
  background-color: #f75270;
  box-shadow: 0 0 8px rgba(240, 135, 135, 0.7);
}
.gameOver {
  background-color: rgba(0, 0, 0, 0.9);
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border: 3px solid #134a61;
  box-shadow: 0 0 15px #1085b8;
  color: #fff;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  margin: 20px 10px 0 10px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px rgb(39, 39, 39) solid;
  box-shadow: #545454 0px 3px 3px;
}

.first {
  background-color: rgb(180, 180, 180);
}
button:hover {
  background-color: rgb(180, 180, 180) !important;
  transition: background-color 200ms linear;
}

.bestImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.food {
  background-color: #ffcc00;
  animation: pulse 1s infinite;
}
